{% extends "layout.html" %}
{% block content %}
    <div class="p-5 mb-4 bg-white rounded-3 shadow-sm text-center border">
        <h1 class="display-5 fw-bold text-primary">Magazin online de căști audio</h1>
        <hr class="my-4">
        <div class="row g-4 justify-content-center">
             <div class="col-md-10">
                <div class="card p-4 shadow-sm border">
                    <div class="d-flex flex-wrap justify-content-center gap-3">
                        <a href="/query-c" class="btn btn-outline-warning px-4 py-2 fw-bold text-dark">Raport Clienți (C)</a>
                        <a href="/query-d" class="btn btn-outline-info px-4 py-2 fw-bold text-dark">Analiză Producători (D)</a>
                        <a href="/table/V_PRODUS_PRODUCATOR" class="btn btn-outline-success px-4 py-2 fw-bold">Vizualizare compusă (F)</a>
                        <a href="/table/V_STATISTICI_VANZARI" class="btn btn-outline-secondary px-4 py-2 fw-bold">Vizualizare complexă (F)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}